@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none !important;
  }

  .scrollbar-styled::-webkit-scrollbar {
    @apply h-1;
  }

  .scrollbar-styled::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  .scrollbar-styled::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }

  .scrollable-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
