@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-bottom,
.leaflet-control,
.leaflet-control-zoom,
.leaflet-pane,
.leaflet-top,
.leaflet-left {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none !important;
  }

  *::-webkit-scrollbar {
    @apply h-1 w-1;
  }

  *::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }

  .scrollable-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
